repos:
- repo: https://github.com/psf/black
  rev: 23.9.1
  hooks:
  - id: black

- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort

- repo: https://github.com/PyCQA/flake8
  rev: 6.1.0
  hooks:
  - id: flake8
    additional_dependencies: [
      "flake8-black==0.3.6",
      "flake8-isort==6.0.0",
      "flake8-quotes==3.3.2",
    ]

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    args: [
      "doc tutorial",
      "*.py *.rst *.md",
    ]

- repo: https://github.com/asottile/pyupgrade
  rev: v3.14.0
  hooks:
  - id: pyupgrade
    args: [--py37-plus, --keep-runtime-typing]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-merge-conflict
  - id: debug-statements
  - id: no-commit-to-branch
    args: [--branch, main]
  - id: requirements-txt-fixer
  - id: trailing-whitespace
    exclude: ^(|doc/source/_static/*)
  - id: mixed-line-ending

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.27.0
  hooks:
    - id: check-github-workflows
