cmocean
geovista
imageio>=2.37.2
imageio-ffmpeg
ipywidgets<9.0.0
jupyterlab<5.0.0
jupytext
matplotlib
pyvista[all]
sphinx
tqdm
trame>=2.5.0
trame-client>=3.12.1
trame-server>=2.11.4
trame-vtk>=2.11.8
