cmocean
geovista
imageio>=2.5.0
imageio-ffmpeg
ipywidgets
jupyterlab
matplotlib
pyinstaller==5.6.2
pyqt5
pyvista[trame]
pyvistaqt
QtPy
sphinx
tqdm
trame>=2.5.0
trame-client>=2.9.4
trame-server>=2.11.4
trame-vtk>=2.5.4
