name: Build Documentation
on:
  pull_request:
  push:
    branches:
      - main

env:
  PYVISTA_OFF_SCREEN: 'True'
  ALLOW_PLOTTING: true
  SHELLOPTS: 'errexit:pipefail'

jobs:
  build-doc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Qt
        uses: jurplel/install-qt-action@v2

      - uses: syphar/restore-virtualenv@v1
        id: cache-virtualenv
        with:
          requirement_files: requirements_docs.txt

      - name: Install OS Packages
        run: |
          sudo apt-get update
          sudo apt-get install libosmesa6-dev libgl1-mesa-dev python3-tk pandoc git-restore-mtime

      - name: Install OSMesa VTK
        run: pip install https://github.com/pyvista/pyvista-wheels/raw/main/vtk-osmesa-9.1.0-cp39-cp39-linux_x86_64.whl

      - name: Install Dependencies
        run: pip install -r requirements_docs.txt

      - name: PyVista Report
        run: |
          python -c "import pyvista;print(pyvista.Report())"
          echo PYVISTA_EXAMPLE_DATA_PATH=$(python -c "import pyvista; print(pyvista.EXAMPLES_PATH)") >> $GITHUB_ENV

      - name: Build Documentation
        run: make -C doc html SPHINXOPTS="-W --keep-going"

      - name: Tar build
        run: tar -zcvf doc-build.tar.gz doc/build/

      - uses: actions/upload-artifact@v3
        with:
          name: doc-build
          path: doc-build.tar.gz

      - uses: actions/upload-artifact@v3
        with:
          name: tutorial
          path: doc/source/tutorial
      - name: Get Notebooks
        run: |
          mkdir _notebooks
          find doc/source/tutorial -type f -name '*.ipynb' | cpio -p -d -v _notebooks/
      - uses: actions/upload-artifact@v3
        with:
          name: tutorial-notebooks
          path: _notebooks

  deploy:
    name: Publish Documentation
    runs-on: ubuntu-latest
    needs: build-doc
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v3

      - uses: actions/download-artifact@v3
        with:
          name: doc-build
          path: .

      - name: UnTar build
        run: tar -xzvf doc-build.tar.gz

      - name: Deploy to GH Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: doc/build/html
          cname: tutorial.pyvista.org
