name: reviewdog
on: [pull_request]
jobs:
  misspell:
    name: runner / misspell
    permissions:
      pull-requests: read
      issues: read
      repository-projects: read
    runs-on: ubuntu-latest
    steps:
      - name: Check out code.
        uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: misspell
        uses: reviewdog/action-misspell@d6429416b12b09b4e2768307d53bef58d172e962
        with:
          github_token: ${{ secrets.github_token }}
          locale: "US"
          pattern: "*.md"
