name: PR update

on:
  push:
    branches:
      - "main"
jobs:
  autoupdate:
    permissions:
      pull-requests: write
      issues: read
      repository-projects: read
      contents: write
    runs-on: ubuntu-latest
    if: github.repository == 'pyvista/pyvista-tutorial'
    steps:
      - name: Automatically update PR
        uses: adRise/update-pr-branch@a51c014567e5be98445551cce9b8f5ad42dd8acf
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          base: "main"
          required_approval_count: 1
          require_passed_checks: false
          sort: "created"
          direction: "desc"
          require_auto_merge_enabled: true
          allow_ongoing_checks: true
